
<form class="form mat-elevation-z8">
    <h1>Criando um novo Profissional</h1>
    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="prof.nome" [formControl]="nome" required name="nome" maxlength="100" matInput placeholder="Ex. João Borges">
      <mat-error *ngIf="nome.invalid">{{ errorValidNome() }}</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
    <mat-label>Data de Nascimento</mat-label>
    <input [(ngModel)]="prof.nascimento" [ngModelOptions]="{standalone: true}"  required name="nascimento" matInput [matDatepicker]="picker">
    <mat-error *ngIf="nascimento.invalid">{{  errorValidNascimento() }}</mat-error>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Selecione o Genero</mat-label>
      <mat-select [(value)]="prof.sexo" [formControl]="sexo" required name="sexo">
        <mat-option value="masculino">Masculino</mat-option>
        <mat-option value="feminino">Feminino</mat-option>
      </mat-select>
      <mat-error *ngIf="sexo.invalid">{{  errorValidSexo() }}</mat-error>
    </mat-form-field>
    
  
    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="prof.cpf" [formControl]="cpf" required name="cpf" maxlength="15" matInput placeholder="000.000.000-00">
        <mat-error *ngIf="cpf.invalid">{{ errorValidCPF() }}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>RG</mat-label>
        <input [(ngModel)]="prof.rg" [formControl]="rg" required name="rg" maxlength="15" matInput placeholder="00.000.000">
       <mat-error *ngIf="rg.invalid">{{ errorValidRG() }}</mat-error>
      </mat-form-field>
  
    <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="prof.telefone" [formControl]="telefone" required name="telefone" maxlength="15" matInput placeholder="(00) 90000-0000">
        <mat-error *ngIf="telefone.invalid">{{ errorValidTelefone() }}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Endereço</mat-label>
        <input [(ngModel)]="prof.endereco" [formControl]="endereco" required name="endereco" maxlength="30" matInput placeholder="Ex. Rua: São Paulo">
        <mat-error *ngIf="endereco.invalid">{{ errorValidEndereco() }}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Número</mat-label>
        <input [(ngModel)]="prof.numero" [formControl]="numero" required name="numero" maxlength="10" matInput placeholder="Ex. 930">
        <mat-error *ngIf="numero.invalid">{{ errorValidNumero() }}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Bairro</mat-label>
        <input [(ngModel)]="prof.bairro"  [formControl]="bairro" required name="bairro" maxlength="15" matInput placeholder="Ex. Veredinha">
        <mat-error *ngIf="bairro.invalid">{{ errorValidBairro() }}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Cep</mat-label>
        <input [(ngModel)]="prof.cep"  [formControl]="cep"  required name="cep" maxlength="10" matInput placeholder="00.000-000">
        <mat-error *ngIf="bairro.invalid">{{ errorValidCep() }}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Cidade</mat-label>
        <input [(ngModel)]="prof.cidade" [formControl]="cidade" required name="cidade" maxlength="30" matInput placeholder="Ex. Belo Horizonte">
        <mat-error *ngIf="cidade.invalid">{{  errorValidCidade() }}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Estado</mat-label>
        <input [(ngModel)]="prof.estado" [formControl]="estado" required name="estado" maxlength="30" matInput placeholder="Ex. Minas Gerais">
        <mat-error *ngIf="estado.invalid">{{ errorValidEstado() }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Selecione o Zona</mat-label>
        <mat-select [(value)]="prof.zona" [formControl]="zona" required name="zona">
          <mat-option value="urbana">Urbana</mat-option>
          <mat-option value="rural">Rural</mat-option>
        </mat-select>
        <mat-error *ngIf="zona.invalid">{{  errorValidZona() }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Selecione o Cargo</mat-label>
        <mat-select [(value)]="prof.cargo" [formControl]="cargo" required name="cargo">
          <mat-option value="professor">Professor</mat-option>
          <mat-option value="diretor">Diretor</mat-option>
          <mat-option value="supervisor">Supervisor</mat-option>
        </mat-select>
        <mat-error *ngIf="cargo.invalid">{{  errorValidCargo() }}</mat-error>
      </mat-form-field>
      
      
      <mat-form-field class="full-width">
        <mat-label>Turma</mat-label>
        <input [(ngModel)]="prof.turma" [formControl]="turma" required name="turma" maxlength="50" matInput placeholder="Ex. Guimarães Rosa">
        <mat-error *ngIf="turma.invalid">{{ errorValidTurma() }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Disciplina</mat-label>
        <input [(ngModel)]="prof.disciplina" [formControl]="disciplina" required name="disciplina" maxlength="30" matInput placeholder="Ex. Lingua Protuguesa">
        <mat-error *ngIf="disciplina.invalid">{{ errorValidDisciplina() }}</mat-error>
      </mat-form-field>

      <form class="email-form">
        <mat-form-field class="email-full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input [(ngModel)]="prof.email" type="email" matInput [formControl]="email" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            E-mail é  <strong>obrigatório!</strong>
          </mat-error>
        </mat-form-field>
      </form>

        <mat-form-field appearance="fill">
            <mat-label>Digita a senha</mat-label>
            <input matInput [(ngModel)]="prof.senha" [type]="senha ? 'password' : 'text'"  required name="senha" >
            <button mat-icon-button matSuffix >
              <mat-icon>{{senha ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          <mat-error *ngIf="senha.invalid">{{ errorValidSenha() }}</mat-error>
          </mat-form-field>

    <button class="mat-elevation-z8" (click)="create()" mat-stroked-button color="accent">CRIAR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
  </form>