<form class="form mat-elevation-z8">
  <h1>Povoando Turma</h1>
   <div class="input"> <mat-form-field class="full-width">
    <mat-label>Turma</mat-label>
    <input [(ngModel)]="povoada.nomeTurma" disabled name="nomeTurma" maxlength="100" matInput placeholder="Ex. João Borges">
  </mat-form-field>

  <mat-form-field class="full-width">
      <mat-label>Professor</mat-label>
      <input [(ngModel)]="povoada.nomeProfessor" disabled name="nomeTurma" maxlength="100" matInput placeholder="Ex. João Borges">
  </mat-form-field></div> 

  <!-------------------------------------------- T A B E L A ------------------------------------------------------------>
  

  <button class="mat-elevation-z8" mat-stroked-button color="primary">ADICIONAR ALUNO</button>
  
  <div class="mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource">
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> MATRICULA </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Nome Column -->
      <ng-container matColumnDef="nomeTurma">
        <th mat-header-cell *matHeaderCellDef> ALUNO </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeTurma}} </td>
      </ng-container>

      <!-- Nome Column -->
      <ng-container matColumnDef="professor">
        <th mat-header-cell *matHeaderCellDef> NASCIMENTO </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeProfessor}} </td>
      </ng-container>

      <!-- Nome Column -->
      <ng-container matColumnDef="dataIngresso">
        <th mat-header-cell *matHeaderCellDef> DATA DE INGRESSO </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeProfessor}} </td>
      </ng-container>

     <!-- Ações Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> AÇÕES </th>
        <td mat-cell *matCellDef="let element">
          <a routerLink= "update/{{ element.id }}">
            <i id="editar" class="material-icons">editar</i>
          </a>
          <a routerLink="delete/{{ element.id }}">
            <i id="delete" class="material-icons">delete</i>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[1, 2, 5, 10, 20, 50, 100]" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  </form>
  