
<form class="form mat-elevation-z8">
    <h1>Atualizar Aluno</h1>
    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="aluno.nome" [formControl]="nome" required name="nome" maxlength="100" matInput placeholder="Ex. João Borges">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Data de Nascimento</mat-label>
      <input [(ngModel)]="aluno.nascimento" [ngModelOptions]="{standalone: true}" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Selecione o Genero</mat-label>
      <mat-select [(value)]="aluno.sexo">
        <mat-option value="masculino">Masculino</mat-option>
        <mat-option value="feminino">Feminino</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="aluno.cpf" required name="cpf" maxlength="15" matInput placeholder="000.000.000-00">
        <mat-error *ngIf="rg.invalid">{{ errorValidCPF() }}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>RG</mat-label>
        <input [(ngModel)]="aluno.rg" required name="rg" maxlength="15" matInput placeholder="000.000.">
       <!--<mat-error *ngIf="rg.invalid">{{ errorValidCPF() }}</mat-error>--> 
      </mat-form-field>
  
    <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="aluno.telefone" required maxlength="18" name="telefone" matInput placeholder="(00) 90000-0000">
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Endereço</mat-label>
        <input [(ngModel)]="aluno.endereco" required name="endereco" maxlength="15" matInput placeholder="000.000.000-00">
       <!--<mat-error *ngIf="endereco.invalid">{{ errorValidCPF() }}</mat-error>-->
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Número</mat-label>
        <input [(ngModel)]="aluno.numero" required name="numero" maxlength="15" matInput placeholder="000.000.000-00">
        <!--<mat-error *ngIf="numero.invalid">{{ errorValidCPF() }}</mat-error>-->
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Bairro</mat-label>
        <input [(ngModel)]="aluno.bairro" required name="bairro" maxlength="15" matInput placeholder="000.000.000-00">
       <!--<mat-error *ngIf="bairro.invalid">{{ errorValidCPF() }}</mat-error>--> 
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Cep</mat-label>
        <input [(ngModel)]="aluno.cep" required name="cep" maxlength="15" matInput placeholder="000.000.000-00">
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Cidade</mat-label>
        <input [(ngModel)]="aluno.cidade" required name="cidade" maxlength="15" matInput placeholder="000.000.000-00">
        <!-- <mat-error *ngIf="cidade.invalid">{{ errorValidCPF() }}</mat-error>-->
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Estado</mat-label>
        <input [(ngModel)]="aluno.estado" required name="estado" maxlength="15" matInput placeholder="000.000.000-00">
       <!--<mat-error *ngIf="estado.invalid">{{ errorValidCPF() }}</mat-error>--> 
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Zona</mat-label>
        <input [(ngModel)]="aluno.zona" required name="zona" maxlength="15" matInput placeholder="000.000.000-00">
        <!--<mat-error *ngIf="zona.invalid">{{ errorValidCPF() }}</mat-error>-->
      </mat-form-field>
  
      <mat-form-field class="fullWidth" appearance="legacy">
        <mat-label>E-mail</mat-label>
        <input
        [(ngModel)]="aluno.email"
        name="email"
        [formControl]="email"
        required 
        matInput 
        placeholder="Ex.. fulano@mail.com">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field class="fullWidth" appearance="legacy">
        <mat-label>Senha</mat-label>
        <input
        [(ngModel)]="aluno.senha"
        name="senha"
        [formControl]="senha"
        required
        type="password" 
        matInput 
        placeholder="Ex.. 1234">
        <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>
  
    <button class="mat-elevation-z8" (click)="update()" mat-stroked-button color="accent">ATUALIZAR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
  </form>