
<form class="form mat-elevation-z8">
    <h1>Remover um Profissional</h1>
    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="prof.nome" disabled name="nome" maxlength="100" matInput placeholder="Ex. João Borges">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
    <mat-label>Data de Nascimento</mat-label>
    <input [(ngModel)]="prof.nascimento" disabled [ngModelOptions]="{standalone: true}" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Selecione o Genero</mat-label>
      <mat-select [(value)]="prof.sexo" disabled name="sexo" >
        <mat-option value="masculino">Masculino</mat-option>
        <mat-option value="feminino">Feminino</mat-option>
      </mat-select>
    </mat-form-field>
    
  
    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="prof.cpf" disabled name="cpf" maxlength="15" matInput placeholder="000.000.000-00">
           </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>RG</mat-label>
        <input [(ngModel)]="prof.rg" disabled required name="rg" maxlength="15" matInput placeholder="00.000.000">
        </mat-form-field>
  
    <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="prof.telefone" disabled required name="telefone" maxlength="15" matInput placeholder="(00) 90000-0000">
             </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Endereço</mat-label>
        <input [(ngModel)]="prof.endereco" disabled name="endereco" maxlength="30" matInput placeholder="Ex. Rua: São Paulo">
           </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Número</mat-label>
        <input [(ngModel)]="prof.numero" disabled name="numero" maxlength="10" matInput placeholder="Ex. 930">
            </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Bairro</mat-label>
        <input [(ngModel)]="prof.bairro" disabled name="bairro" maxlength="15" matInput placeholder="Ex. Veredinha">
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Cep</mat-label>
        <input [(ngModel)]="prof.cep" disabled name="cep" maxlength="10" matInput placeholder="00.000-000">
          </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Cidade</mat-label>
        <input [(ngModel)]="prof.cidade" disabled name="cidade" maxlength="30" matInput placeholder="Ex. Belo Horizonte">
           </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Estado</mat-label>
        <input [(ngModel)]="prof.estado" disabled name="estado" maxlength="30" matInput placeholder="Ex. Minas Gerais">
       </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Selecione a zona</mat-label>
        <mat-select [(value)]="prof.zona" disabled name="zona">
          <mat-option value="urbano">Urbano</mat-option>
          <mat-option value="rural">Rural</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Selecione o Cargo</mat-label>
        <mat-select [(value)]="prof.cargo" disabled name="cargo">
          <mat-option value="professor">Professor</mat-option>
          <mat-option value="diretor">Diretor</mat-option>
          <mat-option value="supervisor">Supervisor</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="full-width">
        <mat-label>Turma</mat-label>
        <input [(ngModel)]="prof.turma" disabled name="turma" maxlength="50" matInput placeholder="Ex. Guimarães Rosa">
            </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Disciplina</mat-label>
        <input [(ngModel)]="prof.disciplina"  disabled name="disciplina" maxlength="30" matInput placeholder="Ex. Lingua Protuguesa">
         </mat-form-field>

      <form class="email-form">
        <mat-form-field class="email-full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input [(ngModel)]="prof.email" type="email" matInput disabled placeholder="Ex. pat@example.com">
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            E-mail é  <strong>obrigatório!</strong>
          </mat-error>
        </mat-form-field>
      </form>

        <mat-form-field appearance="fill">
            <mat-label>Digita a senha</mat-label>
            <input matInput [(ngModel)]="prof.senha" disabled [type]="senha ? 'password' : 'text'"  required name="senha" >
            <button mat-icon-button matSuffix >
              <mat-icon>{{senha ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

    <button class="mat-elevation-z8" (click)="delete()" mat-stroked-button color="accent">EXCLUIR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
  </form>