
<form class="form mat-elevation-z8">
  <h1>Criando um novo Aluno</h1>
  <mat-form-field class="full-width">
    <mat-label>Nome</mat-label>
    <input [(ngModel)]="alunos.nome" [formControl]="nome" required name="nome" maxlength="100" matInput placeholder="Ex. João Borges">
    <mat-error *ngIf="nome.invalid">{{ errorValidNome() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
  <mat-label>Data de Nascimento</mat-label>
  <input [(ngModel)]="alunos.nascimento" [ngModelOptions]="{standalone: true}"  required name="nascimento" matInput [matDatepicker]="picker">
  <mat-error *ngIf="nascimento.invalid">{{  errorValidNascimento() }}</mat-error>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Selecione o Genero</mat-label>
    <mat-select [(value)]="alunos.sexo" [formControl]="sexo" required name="sexo" required name="sexo" >
      <mat-option value="masculino">Masculino</mat-option>
      <mat-option value="feminino">Feminino</mat-option>
    </mat-select>
    <mat-error *ngIf="sexo.invalid">{{  errorValidSexo() }}</mat-error>
  </mat-form-field>
  

  <mat-form-field class="full-width">
      <mat-label>CPF</mat-label>
      <input [(ngModel)]="alunos.cpf" [formControl]="cpf" required name="cpf" maxlength="15" matInput placeholder="000.000.000-00">
      <mat-error *ngIf="cpf.invalid">{{ errorValidCPF() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>RG</mat-label>
      <input [(ngModel)]="alunos.rg" [formControl]="rg" required name="rg" maxlength="15" matInput placeholder="00.000.000">
     <mat-error *ngIf="rg.invalid">{{ errorValidRG() }}</mat-error>
    </mat-form-field>

  <mat-form-field class="full-width">
      <mat-label>Telefone</mat-label>
      <input [(ngModel)]="alunos.telefone" [formControl]="telefone" required name="telefone" maxlength="18" matInput placeholder="(00) 90000-0000">
      <mat-error *ngIf="telefone.invalid">{{ errorValidTelefone() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Endereço</mat-label>
      <input [(ngModel)]="alunos.endereco" [formControl]="endereco" required name="endereco" maxlength="15" matInput placeholder="Ex. Rua: São Paulo">
      <mat-error *ngIf="endereco.invalid">{{ errorValidEndereco() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Número</mat-label>
      <input [(ngModel)]="alunos.numero" [formControl]="numero" required name="numero" maxlength="15" matInput placeholder="Ex. 930">
      <mat-error *ngIf="numero.invalid">{{ errorValidNumero() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Bairro</mat-label>
      <input [(ngModel)]="alunos.bairro"  [formControl]="bairro" required name="bairro" maxlength="15" matInput placeholder="Ex. Veredinha">
      <mat-error *ngIf="bairro.invalid">{{ errorValidBairro() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Cep</mat-label>
      <input [(ngModel)]="alunos.cep"  [formControl]="cep"  required name="cep" maxlength="15" matInput placeholder="00.000-000">
      <mat-error *ngIf="bairro.invalid">{{ errorValidCep() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Cidade</mat-label>
      <input [(ngModel)]="alunos.cidade" [formControl]="cidade" required name="cidade" maxlength="15" matInput placeholder="Ex. Belo Horizonte">
      <mat-error *ngIf="cidade.invalid">{{  errorValidCidade() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Estado</mat-label>
      <input [(ngModel)]="alunos.estado" [formControl]="estado" required name="estado" maxlength="15" matInput placeholder="Ex. Minas Gerais">
      <mat-error *ngIf="estado.invalid">{{ errorValidEstado() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Selecione a zona</mat-label>
      <mat-select [(value)]="alunos.zona" [formControl]="zona" required name="zona">
        <mat-option value="urbano">Urbano</mat-option>
        <mat-option value="rural">Rural</mat-option>
      </mat-select>      
      <mat-error *ngIf="zona.invalid">{{ errorValidZona() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Matrícula</mat-label>
      <input [(ngModel)]="alunos.matricula" [formControl]="matricula" required name="matricula" maxlength="15" matInput placeholder="0000">
      <mat-error *ngIf="matricula.invalid">{{ errorValidMatricula() }}</mat-error>
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <mat-label>Responsavel</mat-label>
      <input [(ngModel)]="alunos.responsavel" [formControl]="responsavel" required name="responsavel" maxlength="15" matInput placeholder="Ex. Maria Rodrigues">
      <mat-error *ngIf="responsavel.invalid">{{ errorValidResponsavel() }}</mat-error>
    </mat-form-field>

  <button class="mat-elevation-z8" (click)="create()" mat-stroked-button color="accent">CRIAR</button>
  <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
</form>