<form class="form mat-elevation-z8">
    <h1>Criando uma Disciplina</h1>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Disciplina</mat-label>
        <input [(ngModel)]="disciplina.nome" required name="nome" matInput >
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Ementa</mat-label>
        <input [(ngModel)]="disciplina.ementa" required name="ementa" matInput>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Selecione um Serie</mat-label>
        <mat-select [(ngModel)]="disciplina.serieNivelSubnivel" name="serieNivelSubnivel" required>
          <mat-option *ngFor="let serie of series" value="{{ serie.id }}">{{ serie.descricao }}</mat-option>
        </mat-select>
      </mat-form-field>
    
    <button class="mat-elevation-z8" (click)="create()" mat-raised-button color="primary">CRIAR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-raised-button color="warn">CANCELAR</button>
  </form>