
<form class="form mat-elevation-z8">
    <h1>Adicionando um novo Professor</h1>

    
    <section class="section">
      <mat-checkbox (click)="addPerfil(0)" class="margin" color="primary">Admin</mat-checkbox>
      <mat-checkbox (click)="addPerfil(1)" [checked]="true" class="margin" color="primary">Professor</mat-checkbox>
    </section>
    
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="prof.nome" [formControl]="nome" required name="nome" maxlength="100" matInput placeholder="Ex. João Borges">
      <mat-error *ngIf="nome.invalid">{{ errorValidNome() }}</mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width" appearance="outline">
    <mat-label>Data de Nascimento</mat-label>
    <input [(ngModel)]="prof.nascimento" [ngModelOptions]="{standalone: true}" required name="nascimento" matInput [matDatepicker]="picker">
    <mat-error *ngIf="nascimento.invalid">{{  errorValidNascimento() }}</mat-error>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Selecione o Genero</mat-label>
      <mat-select [(ngModel)]="prof.sexo" [formControl]="sexo" required name="sexo">
        <mat-option value="masculino">Masculino</mat-option>
        <mat-option value="feminino">Feminino</mat-option>
      </mat-select>
      <mat-error *ngIf="sexo.invalid">{{  errorValidSexo() }}</mat-error>
    </mat-form-field>
      
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="prof.cpf" [formControl]="cpf" required name="cpf" maxlength="15" matInput placeholder="000.000.000-00">
        <mat-error *ngIf="cpf.invalid">{{ errorValidCPF() }}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>RG</mat-label>
        <input [(ngModel)]="prof.rg" [formControl]="rg" required name="rg" maxlength="15" matInput placeholder="00.000.000">
       <mat-error *ngIf="rg.invalid">{{ errorValidRG() }}</mat-error>
      </mat-form-field>
  
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="prof.telefone" [formControl]="telefone" required name="telefone" maxlength="15" matInput placeholder="(00) 90000-0000">
        <mat-error *ngIf="telefone.invalid">{{ errorValidTelefone() }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Endereço</mat-label>
        <input [(ngModel)]="prof.endereco" [formControl]="endereco" required name="endereco" maxlength="50" matInput placeholder="Ex. Rua: São Paulo">
        <mat-error *ngIf="endereco.invalid">{{ errorValidEndereco() }}</mat-error>
      </mat-form-field>
      
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Selecione o Zona</mat-label>
        <mat-select [(ngModel)]="prof.zona" [formControl]="zona" required name="zona" required name="zona" >
          <mat-option value="Urbana">Urbana</mat-option>
          <mat-option value="Rural">Rural</mat-option>
        </mat-select>
        <mat-error *ngIf="zona.invalid">{{  errorValidSexo() }}</mat-error>
      </mat-form-field>
       
      <mat-form-field class="full-width" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input
          [(ngModel)]="prof.email"
          name="email"
          [formControl]="email"
          required 
          matInput 
          placeholder="Ex.. fulano@mail.com">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Senha</mat-label>
          <input
          [(ngModel)]="prof.senha"
          name="senha"
          [formControl]="senha"
          required
          type="password" 
          matInput 
          placeholder="Ex.. 1234">
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

    <button class="mat-elevation-z8" (click)="create()" mat-stroked-button color="accent">CRIAR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
  </form>