<form class="form mat-elevation-z8">
    <h1>Enturma professor</h1>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Ano de Atribuição</mat-label>
        <input [(ngModel)]="enturma.dataAtribuicao" [ngModelOptions]="{standalone: true}" required name="dataAtribuicao" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Selecione o Status</mat-label>
        <mat-select [(ngModel)]="enturma.status" required name="status">
          <mat-option value= 0>Ativo</mat-option>
          <mat-option value= 1>Inativo</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Selecione um Turma</mat-label>
        <mat-select [(ngModel)]="enturma.turma" name="descricaoTurma" required>
            <mat-option *ngFor="let turma of turmas" value="{{ turma.id }}">{{ turma.nomeSerieNivelSubnivel }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Selecione um Professor</mat-label>
        <mat-select [(ngModel)]="enturma.professor" name="nomeProfessor" required>
            <mat-option *ngFor="let professor of professores" value="{{ professor.id }}">{{ professor.nome }}</mat-option>
        </mat-select>
    </mat-form-field>

    <button class="mat-elevation-z8" (click)="create()" mat-raised-button color="primary">CRIAR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-raised-button color="warn">CANCELAR</button>
</form>