<form class="form mat-elevation-z8">
    <h1>Deletar Disciplinas</h1>

    <form class="form">
        
          <mat-form-field class="full-width">
            <mat-label>Nome</mat-label>
            <input [(ngModel)]="disciplina.nomeDisciplina" disabled matInput>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Selecione a Professor</mat-label>
              <mat-select [(value)]="disciplina.professores" disabled >
              <mat-option  value="professor">Professor</mat-option>
           </mat-select>
          </mat-form-field>

    </form>

    <button class="mat-elevation-z8" (click)="delete()" mat-stroked-button color="accent">DELETAR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
  </form>