
<form class="form mat-elevation-z8">
    <h1> Remover Aulas Lecionadas</h1>

    <form class="form">
        
        <mat-form-field appearance="fill">
            <mat-label>Data da Observação</mat-label>
            <input [(ngModel)]="aulasL.dataAula" disabled [ngModelOptions]="{standalone: true}" name="dataAula" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Bimestre</mat-label>
            <input [(ngModel)]="aulasL.bimestre" disabled name="bimestre" maxlength="20" matInput>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Disciplina</mat-label>
            <input [(ngModel)]="aulasL.disciplina" disabled name="disciplina" maxlength="20" matInput>
          </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Adicione as observações da aula</mat-label>
            <textarea [(ngModel)]="aulasL.obsAulas" disabled name="obsAulas"  matInput maxlength="1000"></textarea>
        </mat-form-field>
    </form>

    <button class="mat-elevation-z8" (click)="delete()" mat-stroked-button color="accent">EXCLUIR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
  </form>