
<form class="form mat-elevation-z8">
    <h1>Observações</h1>

    <form class="form">
        
        <mat-form-field appearance="fill">
            <mat-label>Data da Observação</mat-label>
            <input [(ngModel)]="obs.dataObs" [ngModelOptions]="{standalone: true}" disabled matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Adicione as observações gerais</mat-label>
            <textarea [(ngModel)]="obs.campoObs" disabled name="campoObs" matInput></textarea>
        </mat-form-field>
    </form>
  <button class="mat-elevation-z8" (click)="voltar()" mat-stroked-button color="warn">VOLTAR</button>
  </form>