<div class="container">
    <mat-card class="home mat-elevation-z8">
            <div class="title">
                <i class="material-icons">book</i> DIÁRIOS
            </div>
            <span *ngFor="let item of listarTurma">
                <mat-card class=" cardTurma mat-elevation-z8">
                    <mat-card-header>
                        <mat-card-title>Turma: {{ item.nomeProfessorTurma }}</mat-card-title>
                        <mat-card-title>Disciplina: {{ item.nomeDisciplina }}</mat-card-title>
                    </mat-card-header>
                    <button class="full-width mat-elevation-z4" (click)="navigateTurmaAlunos()" mat-raised-button
                        color="primary">ENTRAR</button>    
                </mat-card>
            </span>  
    </mat-card>
</div>
