
<form class="form mat-elevation-z8">
  <h1>Remover um Aluno</h1>
  <mat-form-field class="full-width">
    <mat-label>Nome</mat-label>
    <input [(ngModel)]="alunos.nome" disabled required name="nome" maxlength="100" matInput placeholder="Ex. João Borges">
  </mat-form-field>

  <mat-form-field appearance="fill">
  <mat-label>Data de Nascimento</mat-label>
  <input [(ngModel)]="alunos.nascimento" disabled [ngModelOptions]="{standalone: true}" matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Selecione o Genero</mat-label>
    <mat-select [(value)]="alunos.sexo" disabled>
      <mat-option value="masculino">Masculino</mat-option>
      <mat-option value="feminino">Feminino</mat-option>
    </mat-select>
  </mat-form-field>
  

  <mat-form-field class="full-width">
      <mat-label>CPF</mat-label>
      <input [(ngModel)]="alunos.cpf" disabled required name="cpf" maxlength="15" matInput placeholder="000.000.000-00">
      <mat-error *ngIf="rg.invalid">{{ errorValidCPF() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>RG</mat-label>
      <input [(ngModel)]="alunos.rg" disabled required name="rg" maxlength="15" matInput placeholder="00.000.000">
     <!--<mat-error *ngIf="rg.invalid">{{ errorValidCPF() }}</mat-error>--> 
    </mat-form-field>

  <mat-form-field class="full-width">
      <mat-label>Telefone</mat-label>
      <input [(ngModel)]="alunos.telefone" disabled required maxlength="18" name="telefone" matInput placeholder="(00) 90000-0000">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Endereço</mat-label>
      <input [(ngModel)]="alunos.endereco" disabled required name="endereco" maxlength="15" matInput placeholder="Ex. Rua: São Paulo">
     <!--<mat-error *ngIf="endereco.invalid">{{ errorValidCPF() }}</mat-error>-->
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Número</mat-label>
      <input [(ngModel)]="alunos.numero" disabled required name="numero" maxlength="15" matInput placeholder="Ex. 930">
      <!--<mat-error *ngIf="numero.invalid">{{ errorValidCPF() }}</mat-error>-->
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Bairro</mat-label>
      <input [(ngModel)]="alunos.bairro" disabled required name="bairro" maxlength="15" matInput placeholder="Ex. Veredinha">
     <!--<mat-error *ngIf="bairro.invalid">{{ errorValidCPF() }}</mat-error>--> 
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Cep</mat-label>
      <input [(ngModel)]="alunos.cep" disabled required name="cep" maxlength="15" matInput placeholder="00.000-000">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Cidade</mat-label>
      <input [(ngModel)]="alunos.cidade" disabled required name="cidade" maxlength="15" matInput placeholder="Ex. Belo Horizonte">
      <!-- <mat-error *ngIf="cidade.invalid">{{ errorValidCPF() }}</mat-error>-->
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Estado</mat-label>
      <input [(ngModel)]="alunos.estado" disabled required name="estado" maxlength="15" matInput placeholder="Ex. Minas Gerais">
     <!--<mat-error *ngIf="estado.invalid">{{ errorValidCPF() }}</mat-error>--> 
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Selecione a zona</mat-label>
      <mat-select [(value)]="alunos.zona" disabled >
        <mat-option value="urbano">Urbano</mat-option>
        <mat-option value="rural">Rural</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Matrícula</mat-label>
      <input [(ngModel)]="alunos.matricula" disabled required name="matricula" maxlength="15" matInput placeholder="0000">
      <!--<mat-error *ngIf="matricula.invalid">{{ errorValidCPF() }}</mat-error>-->
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <mat-label>Responsavel</mat-label>
      <input [(ngModel)]="alunos.responsavel" disabled required name="responsavel" maxlength="15" matInput placeholder="Ex. Maria Rodrigues">
     <!-- <mat-error *ngIf="responsavel.invalid">{{ errorValidCPF() }}</mat-error>-->
    </mat-form-field>

  <button class="mat-elevation-z8" (click)=" delete()" mat-stroked-button color="accent">EXCLUIR</button>
  <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
</form>