
<form class="form mat-elevation-z8">
    <h1>Adicionar uma Observação</h1>

    <form class="form">
        
        <mat-form-field appearance="fill">
            <mat-label>Data da Observação</mat-label>
            <input [(ngModel)]="obs.dataObs" [ngModelOptions]="{standalone: true}"  required name="dataObs" matInput [matDatepicker]="picker">
            <mat-error *ngIf="dataObs.invalid">{{  errorValidDataObs() }}</mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Adicione as observações gerais</mat-label>
            <textarea [(ngModel)]="obs.campoObs" [formControl]="campoObs" required name="campoObs" matInput></textarea>
            <mat-error *ngIf="campoObs.invalid">{{  errorValidCampoObs() }}</mat-error>
        </mat-form-field>
    </form>

    <button class="mat-elevation-z8" (click)="create()" mat-stroked-button color="accent">ADICIONAR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
  </form>